@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
:root {
  scroll-behavior: smooth;
  --main-color: #6175de;
  --main-contrast: #f0f4fe;
  --border-color: #cfd4da;
  --text-color: #343a40;
  --bg: #f1f3f5;
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg);
  color: var(--text-color);
}

html,
body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 0.1rem solid var(--border-color);
  background-color: white;
}

nav .title {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

nav .title .icon {
  padding-right: 0.5rem;
  fill: var(--main-color);
}

nav .links {
  display: flex;
  flex-direction: row;
}

nav .links a {
  padding: 0.4em;
  border-radius: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
}

nav .links a:hover {
  color: var(--main-color);
}

nav .links li {
  list-style: none;
}

.wrapper {
  padding: 0 2rem;
}
